<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sasarinomari.tweeper">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashboardActivity" />
        <activity android:name=".UITestActivity" />
        <activity android:name=".Authenticate.TokenManagementActivity" />
        <activity android:name=".Authenticate.AuthenticationActivity" />
        <activity android:name=".Billing.BillingActivity"/>
        <activity android:name=".Report.ReportListActivity"/>

        <activity android:name=".ScheduledTask.ScheduleManageActivity"/>

        <!--Media Download-->
        <activity android:name=".MediaDownload.MediaDownloadActivity"
            android:label="@string/MediaDownloader">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <service
            android:name=".MediaDownload.MediaDownloadService"
            android:exported="true" />

        <!--Hetzer-->
        <activity android:name=".Hetzer.HetzerActivity" />
        <activity android:name=".Hetzer.HetzerConditionsActivity" />
        <activity android:name=".Hetzer.HetzerReportActivity" />
        <service
            android:name=".Hetzer.HetzerService"
            android:exported="true" />

        <!--Tweet Analytics-->
        <activity android:name=".Analytics.AnalyticsActivity" />
        <activity android:name=".Analytics.AnalyticsReportActivity" />
        <activity android:name=".Analytics.FollowManagementActivity" />
        <service
            android:name=".Analytics.AnalyticsService"
            android:exported="true" />

        <!--Chain Block Activities-->
        <activity android:name=".ChainBlock.ChainBlockActivity" />
        <service
            android:name=".ChainBlock.ChainBlockService"
            android:exported="true" />
        <activity android:name=".ChainBlock.BlockClearActivity" />
        <service
            android:name=".ChainBlock.BlockClearService"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />


        <!-- Test -->
        <activity android:name=".Hetzer.New.ActivitySelectHetzerType"/>
        <activity android:name=".Hetzer.New.AddNewConditionActivity"/>

    </application>

</manifest>